#header {
  position: fixed;
}

.ChatRecord {
  padding: 0.3rem  0.24rem 0rem;
}

.ChatRecord .ChatRecordList .yoursaid {
  margin-bottom: 0.3rem;
  display: flex;
}

.ChatRecord .ChatRecordList .yoursaid img {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.1rem;
}

.ChatRecord .ChatRecordList .yoursaid .yoursaidTxt {
  background-color: #fff;
  padding: 0.3rem 0.24rem;
  margin-left: 0.3rem;
  border-radius: 0.1rem;
  position: relative;
  line-height: inherit;
  font-size: 0.3rem;
}

.ChatRecord .ChatRecordList .yoursaid .yoursaidTxt::before {
  clear: both;
  display: block;
  content: "";
  position: absolute;
  left: -0.28rem;
  border-top: 0.15rem solid transparent;
  border-bottom: 0.15rem solid transparent;
  border-left: 0.15rem solid transparent;
  border-right: 0.15rem solid #fff;
}

.ChatRecord .ChatRecordList .mysaid {
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: flex-end;
}

.ChatRecord .ChatRecordList .mysaid img {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.1rem;
}

.ChatRecord .ChatRecordList .mysaid .mysaidTxt {
  margin-right: 0.3rem;
  background-color: #fff;
  padding: 0.3rem 0.24rem;
  margin-left: 0.3rem;
  border-radius: 0.1rem;
  position: relative;
  line-height: inherit;
  font-size: 0.3rem;
  max-width: 5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.ChatRecord .ChatRecordList .mysaid .mysaidTxt::before {
  clear: both;
  display: block;
  content: "";
  position: absolute;
  right: -0.28rem;
  border-top: 0.15rem solid transparent;
  border-bottom: 0.15rem solid transparent;
  border-left: 0.15rem solid #fff;
  border-right: 0.15rem solid transparent;
}

#footerInput {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#footerInput .inputMethod {
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  background-color: #edeef2;
  height: 0.97rem;
  padding: 0 0.24rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footerInput .inputMethod .switch {
  width: 0.56rem;
  height: 0.56rem;
}

#footerInput .inputMethod .switch .voice {
  width: 100%;
  height: 100%;
}

#footerInput .inputMethod .switch .keyboard {
  display: none;
  width: 100%;
  height: 100%;
}

#footerInput .inputMethod .clickVoice {
  border: 1px solid gainsboro;
  border-radius: 0.1rem;
  width: 4.8rem;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  font-size: 0.3rem;
  color: #333333;
}

#footerInput .inputMethod .clickVoice #inputKeyboard {
  width: 4.8rem;
  height: 0.7rem !important;
  font-size: 0.3rem;
  color: #333333;
  margin-bottom: 0;
}

#footerInput .inputMethod .clickKeyboard {
  display: none;
  width: 4.8rem;
  height: 0.7rem;
  line-height: 0.7rem;
}

#footerInput .inputMethod .expression {
  width: 0.56rem;
  height: 0.56rem;
}

#footerInput .inputMethod .expression img {
  width: 100%;
  height: 100%;
}

#footerInput .inputMethod .more {
  width: 0.56rem;
  height: 0.56rem;
  position: relative;
}

#footerInput .inputMethod .more img {
  width: 100%;
  height: 100%;
}

#footerInput .inputMethod .sendBtn {
  z-index: 99999;
  position: absolute;
  top: -0.05rem;
  left: -0.05rem;
  height: 0.7rem;
  display: none;
  width: 0.8rem;
  background-color: #4EA3F9;
  border-radius: 0.1rem;
}

#footerInput .inputMethod .sendBtn span {
  display: flex;
  justify-content: center;
  line-height: 0.7rem;
  color: #fff;
  font-size: 0.26rem;
}

#footerInput .moreList {
  background-color: #edeef2;
  height: 2.28rem;
  width: 100%;
  padding: 0.4rem;
  display: flex;
  justify-content: space-around;
}

#footerInput .moreList li a {
  display: flex;
  flex-direction: column;
}

#footerInput .moreList li a img {
  width: 1.16rem;
  height: 1.16rem;
}

#footerInput .moreList li a span {
  text-align: center;
  line-height: initial;
  margin-top: 0.1rem;
  font-size: 0.22rem;
  color: #999999;
}
