html {
  background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.circleTab {
  background-color: #fff;
  height: 0.76rem;
  display: flex;
}

.circleTab span {
  font-size: 0.3rem;
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 0.76rem;
}

.circleTab .circleTabActive {
  color: #4EA3F9;
  border-bottom: 0.04rem solid #4EA3F9;
}

.headImg2 .headImgTab {
  display: none;
}

.headImg2 .headImgTab2 {
  display: block;
}

.circleBox {
  display: none;
}

.circleBoxTab {
  display: block;
}

.circleList {
  height: 100%;
  width: 100%;
  margin-top: 0.3rem;
}

.circleList li {
  height: 100%;
  width: 100%;
  padding: 0.3rem  0.24rem;
  background-color: #fff;
  border-bottom: 1px solid  #DCDCDC;
}

.circleList li a {
  height: 100%;
  width: 100%;
  display: flex;
}

.circleList li a .circleImg {
  width: 2.26rem;
  height: 2.26rem;
  margin-right: 0.24rem;
}

.circleList li a .circleImg img {
  height: 100%;
  width: 100%;
}

.circleList li a .circleTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circleList li a .circleTxt .circleTxtTop {
  display: flex;
  flex-direction: column;
}

.circleList li a .circleTxt .circleTxtTop span:first-child {
  color: #333333;
  font-size: 0.3rem;
  font-weight: 600;
  line-height: initial;
}

.circleList li a .circleTxt .circleTxtTop span:nth-child(2) {
  font-weight: 400;
  color: #333333;
  font-size: 0.28rem;
  margin: 0.2rem 0;
  line-height: initial;
}

.circleList li a .circleTxt .circleTxtTop span:nth-child(3) {
  color: #828282;
  font-size: 0.26rem;
  line-height: initial;
}

.circleList li a .circleTxt .circleTxtTop span:nth-child(3) i {
  font-style: normal;
  color: #4EA3F9;
}

.circleList li a .circleTxt .circle-positioning {
  color: #828282;
  font-size: 0.28rem;
  display: flex;
}

.circleList li a .circleTxt .circle-positioning img {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.1rem;
}

.circleList li a .circleTxt .circle-positioning span {
  line-height: initial;
}

.mui-bar-nav ~ .mui-content {
  padding-top: 0.88rem !important;
  padding-bottom: 1rem !important;
}

.circle-GPS {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  box-shadow: 0 0 20px  #4EA3F9;
  position: fixed;
  right: 0.24rem;
  bottom: 1.7rem;
  background: url("../images/gps-1.jpg") no-repeat;
  background-size: 100% 100%;
}

.circle-GPS span {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 100%;
  background-color: #4EA3F9;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circleBox {
  margin-top: 0.3rem;
}

.dynamicList {
  background-color: #fff;
}

.dynamicList > li {
  padding: 0.3rem 0.24rem;
}

.dynamicList > li a .friendinfo {
  height: 100%;
  display: flex;
  margin-bottom: 0.2rem;
}

.dynamicList > li a .friendinfo .friendImg {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.1rem;
  border-radius: 10px;
}

.dynamicList > li a .friendinfo .friendTxt {
  width: 100%;
  height: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dynamicList > li a .friendinfo .friendTxt .friendName {
  color: #333333;
  font-size: 0.3rem;
}

.dynamicList > li a .friendinfo .friendTxt .friendTime {
  color: #828282;
  font-size: 0.24rem;
}

.dynamicList > li a .friendTalk > p {
  margin: 0;
  padding-bottom: 0.15rem;
  color: #333333;
  font-size: 0.3rem;
  line-height: initial;
}

.dynamicList > li a .friendTalk .TalkImgList1 {
  width: 100%;
  display: flex;
}

.dynamicList > li a .friendTalk .TalkImgList1 li {
  width: 4.5rem;
  height: 4.5rem;
  margin-bottom: 0.12rem;
}

.dynamicList > li a .friendTalk .TalkImgList1 li img {
  width: 100%;
  height: 100%;
}

.dynamicList > li a .friendTalk .TalkImgList2 {
  width: 100%;
  display: flex;
}

.dynamicList > li a .friendTalk .TalkImgList2 li {
  width: 3.45rem;
  height: 3.45rem;
  margin: 0 0.12rem 0.12rem 0;
}

.dynamicList > li a .friendTalk .TalkImgList2 li img {
  width: 100%;
  height: 100%;
}

.dynamicList > li a .friendTalk .TalkImgList2 li:last-child {
  margin: 0 0 0.12rem 0;
}

.dynamicList > li a .friendTalk .TalkImgList3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dynamicList > li a .friendTalk .TalkImgList3 li {
  width: 2.26rem;
  height: 2.26rem;
  margin: 0 0.12rem 0.12rem 0;
}

.dynamicList > li a .friendTalk .TalkImgList3 li img {
  width: 100%;
  height: 100%;
}

.dynamicList > li a .friendTalk .TalkImgList3 li:nth-child(3n) {
  margin: 0 0 0.12rem 0;
}

.commentBox .Point {
  margin-top: 0.1rem;
  display: flex;
  justify-content: flex-end;
}

.commentBox .Point .praise {
  display: flex;
}

.commentBox .Point .praise span {
  color: #333333;
  font-size: 0.28rem;
}

.commentBox .Point .praise .likeBtn {
  display: none;
  width: 0.28rem;
  height: 0.28rem;
  margin-right: 0.1rem;
}

.commentBox .Point .praise .likeBtn2 {
  display: block;
}

.commentBox .Point .praise .likeSpan {
  color: #4EA3F9;
}

.commentBox .Point .comment {
  margin-left: 0.4rem;
  display: flex;
}

.commentBox .Point .comment span {
  color: #333333;
  font-size: 0.28rem;
}

.commentBox .Point .comment .commentImgBtn {
  margin-right: 0.1rem;
  width: 0.3rem;
  height: 0.28rem;
}

.friendPraise {
  margin-top: 0.1rem;
  background-color: #f7f7f7;
  color: #333;
  font-size: 0.3rem;
  padding: 0.2rem;
}

.friendPraise .friendLike {
  width: 0.28rem;
  height: 0.28rem;
}

.friendPraise > span {
  color: #4EA3F9;
  margin-left: 0.15rem;
  line-height: initial;
}

.friendComment {
  background-color: #f7f7f7;
  padding: 0 0.2rem;
  border-top: 1px solid #dcdcdc;
}

.friendComment .commentList li {
  padding-top: 0.1rem;
}

.friendComment .commentList li span {
  font-size: 0.3rem;
  line-height: initial;
}

.friendComment .commentList li span:nth-child(2n) {
  color: #333;
}

.friendComment .commentList li span:nth-child(2n-1) {
  color: #4EA3F9;
}

.friendComment .commentList li:last-child {
  padding-bottom: 0.1rem;
}

.circleBounced {
  display: none;
  z-index: 99999;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.circleBounced .bouncedList li {
  background-color: #fff;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.32rem;
}

.circleBounced .bouncedList .cancel {
  margin-top: 0.2rem;
}
