.headImg3{
  position: relative;
  img{
    // height: 0.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    // padding: 0.08rem 0;
 }
 #infoNum{
   position: absolute;
   top: 0.1rem;
   right: 0;
   width: 0.34rem;
   height: 0.34rem;
   border-radius: 0.34rem;
   display: block;
   background-color: #e64240;
   color: #fff;
   line-height: 0.34rem;
   font-size: 0.2rem;
 }
}
.mui-content{
  background-color: #f7f7f7;
}
// 搜索
.search{
  padding: 0.2rem 0.24rem;
  background-color: #f7f7f7;
  div{
    height: 0.8rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    img{
      width: 0.24rem;
      height: 0.24rem;
      margin-right: 0.1rem;
    }
    span{
      font-size: 0.28rem ;
      color: #999 ;
    }
  }
}
.infoList{
  li{
    height: 1.5rem;
    width: 100%;
     a{
       height: 100%;
       width: 100%;
      .infoRight{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        .infoTxt1{
          display: flex;
          justify-content: space-between;
          span:first-child{
            color: #333333;
            font-size: 0.3rem;
          }
          span:last-child{
            color: #B5B5B5;
            font-size: 0.24rem;
          }
        }
        .infoTxt2{
          display: flex;
          justify-content: space-between;
          span:first-child{
            color: #828282;
            font-size: 0.28rem;
          }
          img{
            width: 0.26rem;
            height: 0.28rem;
          }
          span:last-child{
            font-size: 0.2rem;
            width: 0.34rem;
            height: 0.34rem;
            border-radius: 0.34rem;
            display: block;
            background-color: #e64240;
            color: #fff;
            line-height: 0.34rem;
            text-align: center;
          }
        }
      }
    }
  }
}
// .menuHeadInfo{
//   margin-top: 1.4rem ;
//   padding: 0.24rem ;
//   display: flex;
//   .menuHeadImg{
//     width: 1.5rem ;
//     height: 1.5rem ;
//     min-width: 1.5rem ;
//     img{
//       width: 100%;
//       height: 100% ;
//     }
//   }
// }