* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: #fff;
}

.headImg {
  padding: 0.1rem 0 !important;
}

.headImg img {
  height: 100%;
  border-radius: 0.1rem;
  display: flex;
  align-items: center;
}

.headImg2 img {
  width: 0.33rem;
  display: flex;
  align-items: center;
}

.mui-title {
  font-size: 0.34rem;
}

img {
  margin: 0;
  padding: 0;
}

.mui-bar-nav {
  box-shadow: 0 0 0 #000;
  border: 0;
  border-bottom: 1px solid gainsboro;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.infoList {
  width: 100%;
}

.infoList li {
  width: 100%;
  position: relative;
}

.infoList li a {
  background-color: #fff;
  padding: 0.2rem 0.24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DCDCDC;
}

.infoList li a .infoImg {
  display: flex;
}

.infoList li a .infoImg img {
  border-radius: 0.1rem;
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.24rem;
}

.infoList li a .infoImg .infoTxt .userInfo img {
  width: 0.21rem;
  height: 0.24rem;
}

.infoList li a .infoImg .infoTxt #infoName {
  color: #333;
  font-size: 0.3rem;
  line-height: initial;
}

.infoList li a .infoImg .infoTxt .positioning {
  line-height: initial;
  margin: 0.04rem 0;
}

.infoList li a .infoImg .infoTxt .positioning img {
  height: 0.24rem;
  width: 0.24rem;
  margin: 0;
}

.infoList li a .infoImg .infoTxt .positioning span {
  color: #333333;
  font-size: 0.24rem;
}

.infoList li a .infoImg .infoTxt > span {
  color: #828282;
  font-size: 0.26rem;
  line-height: initial;
}

.infoList li a .addBtn {
  width: 1.5rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  font-size: 0.24rem;
  text-align: center;
}

.infoList li a .appliedBtn {
  width: 1.5rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  font-size: 0.24rem;
  text-align: center;
  border: 1px solid #4EA3F9;
  color: #4EA3F9;
}

body {
  background-color: #eaeaea;
}

#footer {
  z-index: 88;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0.98rem;
  width: 100%;
}

#footer .footerList {
  display: flex;
}

#footer .footerList li {
  width: 33.33%;
}

#footer .footerList li .footActive span {
  color: #4EA3F9;
}

#footer .footerList li a {
  padding: 0.12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer .footerList li a img {
  width: 0.45rem;
  height: 0.45rem;
  margin: 0 auto;
}

#footer .footerList li a span {
  text-align: center;
  line-height: initial;
  color: #333;
  font-size: 0.2rem;
}



.bouncedSiyou {
  display: none;
  z-index: 99999;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.bouncedSiyou .bouncedList li {
  background-color: #fff;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.32rem;
}

.bouncedSiyou .bouncedList .cancel {
  margin-top: 0.2rem;
}

.addFriendBounced {
  width: 5.4rem;
  height: 4.04rem;
  background-color: #fff;
  padding: 0.5rem 0.7rem  0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 99999;
}

.addFriendBounced p:first-child {
  color: #333333;
  font-size: 0.32rem;
  text-align: center;
  line-height: initial;
}

.addFriendBounced p:nth-child(2) {
  line-height: initial;
  text-align: center;
  color: #828282;
  font-size: 0.24rem;
  margin: 0.28rem 0;
}

.addFriendBounced #sendInput {
  width: 4rem;
  height: 0.8rem;
  font-size: 0.28rem;
  color: #333333;
  position: relative;
  background: #f7f7f7;
}

.addFriendBounced #deleteSpanBtn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
  padding: 0;
}

.addFriendBounced #sendBtn {
  margin-top: 0.3rem;
  width: 4rem;
  height: 0.8rem;
  font-size: 0.28rem;
  color: #fff;
  background-color: #4EA3F9;
  border-radius: 0.04rem;
  line-height: 0.8rem;
  text-align: center;
}

.mui-input-group .mui-input-row {
  height: 0.8rem;
  font-size: 0.28rem;
}

.mui-icon-clear:before, .mui-icon-close-filled:before {
  line-height: 0.8rem;
  font-size: 0.28rem;
}

.mui-input-row .mui-input-clear ~ .mui-icon-clear {
  height: initial;
}

.mui-input-group .mui-input-row:after {
  height: 0;
}
