.headImg3 {
  position: relative;
}

.headImg3 img {
  height: 100%;
  display: flex;
  align-items: center;
}

.headImg3 #infoNum {
  position: absolute;
  top: 0.1rem;
  right: 0;
  width: 0.34rem;
  height: 0.34rem;
  border-radius: 0.34rem;
  display: block;
  background-color: #e64240;
  color: #fff;
  line-height: 0.34rem;
  font-size: 0.2rem;
}

.mui-content {
  background-color: #f7f7f7;
}

.search {
  padding: 0.2rem 0.24rem;
  background-color: #f7f7f7;
}

.search div {
  height: 0.8rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.search div img {
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.1rem;
}

.search div span {
  font-size: 0.28rem;
  color: #999;
}

.infoListLi {
  /* position: relative; */
  height: 1.5rem;
  width: 100%;
  white-space: nowrap !important;
  clear: both;
  overflow: hidden;
}

.infoList li a {
  height: 100%;
  width: 100% !important;
}

.infoList li a .infoRight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.infoList li a .infoRight .infoTxt1 {
  display: flex;
  justify-content: space-between;
}

.infoList li a .infoRight .infoTxt1 span:first-child {
  color: #333333;
  font-size: 0.3rem;
}

.infoList li a .infoRight .infoTxt1 span:last-child {
  color: #B5B5B5;
  font-size: 0.24rem;
}

.infoList li a .infoRight .infoTxt2 {
  display: flex;
  justify-content: space-between;
}

.infoList li a .infoRight .infoTxt2 span:first-child {
  color: #828282;
  font-size: 0.28rem;
}

.infoList li a .infoRight .infoTxt2 img {
  width: 0.26rem;
  height: 0.28rem;
}

.infoList li a .infoRight .infoTxt2 span:last-child {
  font-size: 0.2rem;
  width: 0.34rem;
  height: 0.34rem;
  border-radius: 0.34rem;
  display: block;
  background-color: #e64240;
  color: #fff;
  line-height: 0.34rem;
  text-align: center;
}

.infoListLi a{
  position: relative;
  /* float: left; */
  /* display: inline-block; */
}

.h_left {
  transform: translateX(-2rem);
}
.h_del{
  position: absolute;
  top : 0 ;
  right: -2rem ;
  margin: 0;
  padding: 0;
  z-index: 99999999999999;
  float: left;
  width: 2rem;
  height: 1.5rem ;
  background-color: red !important;
  color: #fff;
  font-size: 0.3rem ;
  line-height: 1.5rem ;
  text-align: center;
}
/*清除浮动*/
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
  line-height: 0;
}