#header{
  button{
    font-size: 0.3rem !important;
  }
}
.mui-icon-back:before, .mui-icon-left-nav:before{
  font-size: 0 ;
}
.mui-bar-nav.mui-bar .mui-icon{
  font-size: 0.28rem ;
}
#header button{
  font-size: 0.28rem  !important;
}
.mui-bar .mui-title{
  font-size: 0.36rem ;
  font-family:Adobe Heiti Std R;
  font-weight:normal;
  color:rgba(0,0,0,1);
}
.mui-content{
  position: static ;
  padding: 0.24rem  !important;
  margin-bottom: 0 ;
}
html{
  background-color: #fff;
}
body{
  background-color: #fff;
}
#textarea{
  border:  0 ;
  margin: 0 ;
  padding: 0;
  font-size: 0.3rem ;
  line-height: initial;
}
.AddPhotos{
  padding: 0.24rem  0;
  .AddPhotosList{
    .default{
      width: 2.26rem;
      height: 2.26rem ;
      background:rgba(247,247,247,1);
      position: relative;
      div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        img{
          width: 0.9rem ;
          height: 0.72rem ;
          margin: 0 auto;
        }
        span{
          width: 100%;
          color: #333;
          font-size: 0.24rem ;
          text-align: center;
          line-height: initial;
          margin-top: 0.2rem ;
        }
      }
    }
  }
}


.publishGPS{
  margin-top: 0.1rem ;
  padding: 0.2rem  0 ;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  span{
    font-size: 0.3rem ;
    color: #333333;
  }
}

// 弹框
.phoneBounced{
  display: none;
  z-index: 99999;
  position: fixed;
  width: 100%;
  left: 0 ;
  bottom: 0 ;
  .chooseList{
    li{
      background-color: #fff;
      height: 1rem;
      line-height: 1rem ;
      text-align: center;
      font-size: 0.32rem ;
    }
    .cancel{
      margin-top: 0.2rem ;
    }
  }
}